/.ipynb_checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*
/metodos_iterativos/.ipynb_checkpoints/*
/sistemas_de_ecuaciones/.ipynb_checkpoints/*
/sistemas_de_ecuaciones/__pycache__/*

/ejercicios
/pruebas
